.body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
  font-family: 'Verdana', sans-serif;
  color: black;
}

header {
  flex: 0 80px;
  display: flex;
  background-color: #EFBC47;
}

main {
  flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
  background-color: #f7eba8;
  justify-content: center;
}

footer {
  flex: 0 30px;
  background-color: #EFBC47;
}

menu {
  flex: 1;
  display: flex;
  flex-direction: row !important;
  list-style: none;
}

h1 {
  font-weight: bold;
}

.navbar-brand {
  padding-left: 0.3em;
}

.navbar .nav-link h1 {
  margin-right: 1.5rem;
}

.navbar-nav {
  gap: 1em;
}

menu .nav-item {
  padding: 0 0.3em;
}

footer a {
  float: right;
}

.btn-primary {
  background-color: #ffa500 !important;
  border-color: #ffa500 !important;
  margin: 1rem 1rem;
}

.btn-secondary {
  color: black !important;
  background-color: #f7eba8 !important;
  border-color: #ffa500 !important;
  margin: 1rem 1rem;
}

@media (max-height: 600px) {
  header {
    display: none;
  }

  footer {
    display: none;
  }

  main {
    flex: 1 100vh;
    padding: 10vh;
  }
}

